.calculator-box{
  margin: 0 auto;
  width: 300px;
  height: 400px;
  background-color: #1d3557;
  border-radius: 15px;
  padding-top: 20px;
}

.show-number{
  margin:0 20px;
  width: 260px;
  height: 80px;
  background-color: #457b9d;
  border-radius: 15px 15px 0 0 ;
  z-index: 2;

  p{
    height: 80px;
    display: flex;
    justify-content: flex-end;
    padding:0 10px;
    align-items:flex-end;
    z-index: 3;
    color: #f1faee;
    font-size: 30pt;
  }
}

.input-area{
  color: #fff;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  .equal{
    grid-column: span 2;
    background-color: #e63946;
    border: 0;
  }
  div{
  height: 40px;
  border: rgba($color: #fff, $alpha: 0.5) solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  }

}

.other-color{
  color: #a8dadc;
  border: #a8dadc;
}


