<div class="items-center bg-cyan-600 w-[300px] h-screen">
  <h1 class="flex justify-center py-4 text-stone-50 text-xl">
    Nu's Angular Modules
  </h1>

  <div class="flex justify-center pt-8 text-stone-50">
    <div class="flex flex-col">
      <span class="my-2"
        ><i class="fa-solid fa-table mr-2 w-4"></i>
        <a routerLink="/table">Table</a></span
      >
      <span class="my-2"
        ><i class="fa-solid fa-calculator mr-2 w-4"></i
        ><a routerLink="/calculator">Calculator</a></span
      >
      <span class="my-2"
        ><i class="fa-solid fa-house mr-2 w-4"></i
        ><a routerLink="/">Back Home</a></span
      >
    </div>
  </div>
</div>
