.menu:hover{
  color: aquamarine;
}

.left-bar {
  display: block;
}

.more-bar {
  display: none;
}

@media (max-width:960px) {
  .left-bar {
    display: none;
  }
  .more-bar {
    display: block;
    position: relative;
    top: 10px;
    left: 10px;
  }
}
